@page "/app-ads.txt"
@inject HttpClient Http

@if (fileContent == String.Empty)
{
    <p><em>Loading...</em></p>
}
else
{
    <pre>
        @fileContent
    </pre>
}

@code {
    private string fileContent = String.Empty;
    protected override async Task OnInitializedAsync()
    {
        fileContent = await Http.GetStringAsync("txt/app-ads.txt");
    }
}